  <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header cyan darken-4"><i class="material-icons">filter_drama</i><h5 class="text-teal lighten-5">First</h5></div>
      <div class="collapsible-body teal lighten-5"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header cyan darken-4"><i class="material-icons">place</i><h5 class="text-teal lighten-5">Second</h5></div>
      <div class="collapsible-body teal lighten-5"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header cyan darken-4"><i class="material-icons">whatshot</i><h5 class="text-teal lighten-5">Third</h5></div>
      <div class="collapsible-body teal lighten-5"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>